* {
    font-family: 'Righteous', cursive;
}

.text-center {
    text-align: center;
}

.input-field {
    border-radius: 5px; 
    padding: 0px 10px;
    font-weight: 500;
    border: 2px solid #0f5132;
    height: 37px;
    color: #0f5132;
    outline: none;
}

.checkbox {
    border-color: #0f5132;
    margin: 5px 10px 5px 0px;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 25px;
    font-weight: bold;
    cursor: pointer;
}

.modal-window {
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    border-radius: 10px;
    background-color: #d1e7dd;
    color: #0f5132;
    padding: 15px 30px;
    transform: translate(-50%, -50%);
}

.edit-button {
    display: block;
    margin: 0 auto;
}