* {
    font-family: 'Righteous', cursive;
}

.text-center {
    text-align: center;
}

.input-field {
    border-radius: 5px; 
    padding: 0px 10px;
    font-weight: 500;
    border: 2px solid #0f5132;
    height: 37px;
    color: #0f5132;
    outline: none;
}

.checkbox {
    border-color: #0f5132;
    margin: 5px 10px 5px 0px;
}